#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;

  background: white;
}

.App {
  min-width: 375px;
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
  max-width: 90;
  margin: 0 24px 20px 24px;
}

.logo p {
  margin: 0;
}

.background {
  width: 375px;
  height: 148px;
  margin-top: -52.5px;
  background: linear-gradient(180deg, #d2333e 0%, #f54b55 100%);
}
